@media screen and (max-width: 601px){
        .main-head{
        grid-template-columns: auto 1fr auto;
        grid-template-areas:"logo . button" "navbar navbar navbar";
        }
a {
    text-decoration: none;
    color: black;



.main-head-item, 
.main-head-button {
    padding: 32px;
    margin-top: 2px; 
}

.main-head-item:hover {
    border-bottom: 5px solid #0065fc;
    color:#0065FC;
    padding-top: 37px;
}

.main-head-button {
    color: #0065fc;
}

.main-head-nav {
    display: flex;
    list-style: none; 
}

}