/* CSS GLOBAL */

html {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0 32px; 
}
.couleur-bleu {
    color: #0065fc;
}

.couleur-gris {
    color: lightgrey;
}

.back-gris {
    background-color: #f2f2f2;
}

.texte-gras {
    font-weight: bolder;
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* HEADER */

.main-head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}


.main-head-item, 
.main-head-button {
    padding: 32px;
    margin-top: 2px; 
}

.main-head-item:hover {
    border-top: 5px solid #0065fc;
    color:#0065FC;
    padding-top: 37px;
}

.main-head-button {
    color: #0065fc;
}

.main-head-button2 {
    color: #0065fc;
    display: none;
}

.main-head-nav {
    display: flex;
    list-style: none; 
}


/* SEARCH BOX */

::placeholder{
    font-size: 15px;
    font-weight: bold;
    opacity: 69%;
}

.button-style {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.button-style:hover {
    color: #0065fc;
    background-color: #f2f2f2;
}

.input
{
    border-left: none;
    border-right: none;
    border: 1px solid #DEEBFF;
    outline: none;
    color: black;
    padding: 12px 20px 12px 12px; 
}

.search_wrap {
    width: 500px;
}

.search_wrap .search_box {
    display: flex;
    justify-content: flex-start;
}

.search-button {
    cursor: pointer;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
}

.search-logo{
    padding: 11px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

/* FILTRE */

.filters{
  display: -webkit-box;
  padding-top: 25px;
}

.titre-filtre{
    margin-right: 25px;
}

.filters-button:hover{
    background-color: #f3f8ff;
    transform: scale(1.030);
}

.filtre-logo{
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
    color: #0065fc;
    border-radius: 100%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
} 

.filters-button {
    display: inline;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.1s;
    flex-direction: row-reverse;
    padding: 15px 12px 14px 0px;
    padding-left: 0px;
    margin-right: 2rem;
    flex-wrap: wrap;
}

.info-logo{
    color: #0065fc;
    line-height: 29px;
    width: 29px;
    height: 29px;
    text-align: center;
    background-color: white;
    border: 1px solid #d9d9d9;
    margin-right: 20px;
    border-radius: 50%;
}

.info{
    display: flex;
    align-items: center;
}

/* BODY ET HEBERGEMENT */

.size-hebergement {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.size-populaire {
    flex: 1;
    height: 650px;
    /*margin-left: 20px;*/
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
}

.bloc-hebergement {
    padding-right: 20px;
    padding-left: 20px;
}

.bloc-1 {
    margin-bottom: 10px;
}

.bloc-2 {
    margin-top: 10px;
}

.cube-hebergement {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    cursor: pointer;
}

.cube-hebergement:hover {
   cursor: pointer;
   transform: scale(1.030);
}

.cube-detail-hebergement {
    width: 90%;
}

.img-hebergement {
    /*background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");*/
    background-size: cover;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px ;
    
}

/*.img-hebergement2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px ;
}

.img-hebergement3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px ;
}

.img-hebergement4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px ;
}

.img-hebergement5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px ;
}

.img-hebergement6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 120px;
}*/

/* BODY ET POPULAIRES */

.bloc-populaires {
    padding-left: 20px;
    padding-right: 20px ;
}

.bloc-populaires12 {
    margin-bottom: 22px;
}

.cube-populaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    cursor: pointer;
}

.cube-populaires:hover {
    cursor: pointer;
    transform: scale(1.030);
}

.cube-detail-populaires {
    width: 60%;
    padding-left: 5%;
}

.img-populaires {
    /*background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
    width: 35%;
    height: 160px;
    object-fit: cover;
}

/*.img-populaires2 {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
    width: 35%;
    height: 160px;
}

.img-populaires3 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
    width: 35%;
    height: 160px;
}*/

/* BODY ET CARTES */

.Activites {
    margin-top: 50px;
    margin-bottom: 50px ;
}

.bloc-activites {
    width: 100%;
    height: 600px; 
}

.bloc-activites-small {
    width: 23%;
    height: 600px;
}

/* REGLAGE BLOC */

.cube-activites {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    cursor: pointer;
}

.cube-activites:hover {
    cursor: pointer;
    transform: scale(1.030);
}

.cube-activites-small {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    cursor: pointer;
}

.cube-activites-small:hover {
    cursor: pointer;
    transform: scale(1.030);
}

/* FIN REGLAGE BLOC */

.hauteur-titre {
     height: 70px;
}

.titre-activites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.img-activites-big {
    /*background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 530px;
    object-fit: cover;
}

.img-activites2 {
    /*background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 250px;
}

.img-activites3 {
    /*background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
}
/*
.img-activites4 {
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 530px;
}*/

.img-activites-small {
    /*background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
}
/*
.img-activites6 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
}*/


/* FOOTER */


.footer {
    height: 200px;
    margin-top: 100px;
}

.size-bloc-footer {
    height: 150px;
}

.marge-footer1 {
     margin-left: 5%;
}

.marge-footer2 {
    margin-right: 15%;
}