/* CSS GLOBAL */

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0 32px;
}
/* header */

.main-head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}


.main-head-item, 
.main-head-button {
    padding: 32px;
    margin-top: 2px; 
}

.main-head-item:hover {
    border-top: 5px solid #0065fc;
    color:#0065FC;
    padding-top: 37px;
}

.main-head-button {
    color: #0065fc;
}

.main-head-nav {
    display: flex;
    list-style: none; 
}
/* Search box */

.container 
.input {
    border: 0;
    outline: none;
    color: black;
    padding: 0px 24px;
}

.search_wrap {
    width: 500px;
}

.search_wrap 
.search_box {
    display: flex;
    justify-content: flex-start;
}

.search_wrap 
.search_box 
.input {
    display: flex;
}

.search-button {
    cursor: pointer;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
}

/* Filtre */

.titre-h2 {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filters-button {
    display: inline;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.1s;
    flex-direction: row-reverse;
    padding: 20px;
}
